@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html {
    position: relative;
    overflow-y: scroll;
    min-height:100%;
}

body {
    margin: 0 0 25px 0;
    font-family: 'Open Sans', sans-serif;
    color: #222222;
}

img {
    height: 400px;
}

a:link {
    color: #222222;
    text-decoration: none;
    outline: none;
}

a:visited {
    color: #222222;
    text-decoration: none;
    outline: none;
}

.center {
    margin-top: 30px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.fixedcenter {
    margin-top: 30px;
    width: 100%;
    position: fixed;
}

.titlemenu {
    white-space: nowrap;
}

.fixedtitlemenu {
    white-space: nowrap;
    text-align: center;
}

.title {
    font-size: 24pt;
    margin-right: 14px;
    margin-left: 14px;
    font-weight: 700;
}

.menu {
    font-size: 24pt;
    margin-right: 14px;
    font-weight: 700;
}

#menuactive {
    color: #00c;
}

.titleimages {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 40px;
}

.titlecell {
    display: table-cell;
    float: left;
    padding: 11px 11px 0px 11px;
    outline-color: #ffffff;
}

.titlecell:hover {
    outline: 1px solid #888888;
    padding: 11px 11px 0px 11px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.subtitle {
    display: block;
    opacity: 0;
    visibility: hidden;
    margin: 0px 0px 6px 0px;
    font-size: 8pt;
}

.titlecell:hover .subtitle {
    opacity: 1;
    visibility: visible;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 8pt;
}



.text {
    padding-bottom: 40px;
    font-size: 14pt;
    margin: 55px auto 0px 15px;
}

.cv1 {
    position: absolute;
}

.cv2 {
    margin-left: 150px;
    font-weight: bold;
}

.cv3 {
    margin-left: 150px;
}


.ex1 {
    position: absolute;
}

.ex2 {
    margin-left: 101px;
    font-weight: bold;
}

.ex3 {
}



.images {
    display: inline-flex;
    margin:0 12px 0 12px;
    margin-top: 125px;
}

.cell {
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    padding: 11px 11px 0px 11px;
    outline-color: #ffffff;
}

.cell:hover {
    margin-left: 2px;
    margin-right: 2px;
    outline: 1px solid #888888;
    padding: 11px 11px 0px 11px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.cell:hover .subtitle {
    opacity: 1;
    visibility: visible;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 8pt;
}

.contactbox {
    padding-bottom: 40px;
    width: 100%;
    text-align: center;
    margin-top: 11px;
}

.contactcenter {
    display: inline-flex;
}

.foxyform {
    font-size: 14pt;
    margin-top: 38px;
}

.contactimage {
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 12px;
}

.footer {
    display: table-cell;
}

.imprint {
    text-align: right;
    position: absolute;
    width: 300px;
    margin-left: -315px;
    bottom: 0;
    height: 25px;
    font-size: 8pt;
    display: table-cell
}

.contact {
    font-weight: bold;
}

.fixedfooter {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 25px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.fixedimprint {
    margin-left: 742px;
    font-size: 8pt;
}


/**********LIGHTBOX START**********/
body:after {
  content: url(img/prev.png) url(img/next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  line-height: 0;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  margin: 0 auto;
  background-color: white;
  border: 11px solid white;
  border-bottom: 27px solid white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
    width: 34%;
    margin-left: -15px;
    float: left;
    background: url(img/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
    width: 64%;
    margin-right: -15px;
    float: right;
    background: url(img/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: -14px auto auto auto;
  *zoom: 1;
  width: 100%;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 0);
  opacity: 0.9999;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
}

.lb-data .lb-caption {
  font-size: 8pt;
  font-family: 'Open Sans', sans-serif;
  color: #222222;
  display: block;
  float: left;
}


/**********LIGHTBOX END**********/

